[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "/home/nardi/dotfiles/vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/taboo.vim"]
	path = vim/bundle/taboo.vim
	url = git://github.com/gcmt/taboo.vim.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = http://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "vim/bundle/vim-pencil"]
	path = vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
