[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
  ignore = dirty
[submodule "/home/nardi/dotfiles/vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
  ignore = dirty
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "vim/bundle/taboo.vim"]
	path = vim/bundle/taboo.vim
	url = git://github.com/gcmt/taboo.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = http://github.com/christoomey/vim-tmux-navigator.git
  ignore = dirty
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
  ignore = dirty
[submodule "vim/bundle/vim-pencil"]
	path = vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
  ignore = dirty
[submodule "vim/bundle/vim-peekaboo"]
	path = vim/bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
  ignore = dirty
[submodule "vim/bundle/targets.vim"]
	path = vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
  ignore = dirty
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
  ignore = dirty
